.panel{
	background: rgba(0, 0, 0, .1);
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}

.panel h3{
	border-bottom: 1px solid white;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
