.forecast {
  list-style: none;
  text-transform: uppercase;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  & > li {
    float: left;
    width: calc(100% / 7);
    text-align: center;
    border-right: 1px solid white;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;

    &:last-child {
      border-right: unset;
    }

    @media (max-width: 600px) {
      width: 100%;
      border-right: unset;
      border-bottom: 1px solid white;

      padding-top: 10px;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: unset;
      }

      & .icon{
        width: 48px;
      }
    }
  }

  & .icon {
    width: 100%;
  }
}
