.forecast {
  list-style: none;
  text-transform: uppercase;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  & > li {
    float: left;
    width: calc(100% / 7);
    text-align: center;
    border-right: 1px solid white;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;

    &:last-child {
      border-right: unset;
    }
  }

  & .icon {
    width: 100%;
  }
}
