.selectedDay {
  display: flex;
  text-transform: uppercase;

  & > div {
    width: 50%;
  }

  & .localForecast {
    display: flex;
    text-align: center;

    & > div {
      width: 50%;
    }

    & .detail {
      line-height: 20pt;

      & .dayName {
        font-size: 16pt;
      }

      & .description {
        font-size: 10pt;
      }
    }
  }

  & .seaForecast .row {
    display: flex;
    font-size: 10pt;
    line-height: 20pt;

    & .label {
      flex-grow: 1;
      color: #cccccc;
    }
  }
}
